<!DOCTYPE html>
<html>
  <head>
    <title>Producttron2000</title>
    <%= csrf_meta_tags %>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="container">
        <%= link_to 'Home', root_path %>
        <%= link_to 'Products', products_path %>

        <% if current_user %>
          <%= link_to "Sign Out #{current_user.username }", sign_out_path, method: :delete %>
        <% end %>

      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
